spring:
  application:
    name: "newsfeed"
  datasource:
    url: "jdbc:h2:~/newsfeed/newsfeed_test"
    username: sa
    password: 1234
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
server:
  port: 8081

logging:
  level:
    root: INFO
#    org.hibernate.SQL: DEBUG
#    org.hibernate.type: TRACE
#    org.springframework.security: DEBUG
#    reactor:
#      netty: DEBUG

jwt:
  secret:
    key: "036c4fe3ec667532545b9e8fa7e2a98a22f439dff102623c097715060e2da68c"
  expiry-millis: 300000 # 5?